.list {
  color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  height: 200px;
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.item {
  border-bottom: 2px cyan solid;
}
